
@font-face {
font-family: 'Poiret One';
src: url('Poiret_One.ttf');
}
.text_effect {
font-family: 'Poiret One';
color: rgb(73, 97, 101);
font-size: 40px;
background-color: rgb(255, 255, 255);
vertical-align: middle;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
}
nav ul li {
	margin: 0 1rem;
}
body { background: url(fon.png); margin-bottom: 0px; }
  .brd {
    border: 2px solid rgb(73, 97, 101);
    background: rgb(255, 255, 255);
    padding: 5px;
    vertical-align: middle;
  flex: 0 0 auto;}
    .sign {
    	float: right;
    	text-align: center;
    }
    .foo {
    	font-size: 12px;
    	padding: 2px;
    	margin-top: 100px;
    	margin-bottom: 0px;
    	flex: 0 0 auto;
    	background-color: #E6E6FA;
    	text-align: center;
    } 
@font-face {
font-family: 'Exo_2.0_Light';
src: url('Exo_2.0_Light.ttf');
}
.text_effec {
font-family: 'Exo_2.0_Light';
color: rgb(73, 97, 101);
vertical-align: middle;
}
.text_effect
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
.tex
{
	background-color: white;
	margin-top: 70px;
	margin-left: 25px;
	margin-right: 25px;
	border: 2px solid rgb(73, 97, 101);
    background: rgb(255, 255, 255);
    padding: 2px;
    text-align: left;
    padding-left: 10px;
}
a{
  text-decoration:none;
  color: inherit;
}
nav ul .menu
{
  justify-content: right;
  display: flex;
}
nav ul .zag
{
  padding-left: 10px;
  justify-content: left;
}
.kk nav ul
{
  display: flex;
  align-items: center;
}